<h3 *ngIf="endCallDown | async">è ora di riprendere!</h3>
<div class="mt-4">
  <div class="angular-hero">
    <span class="hero-title" i18n="@@welcome-title">Corso Angular</span>
    <span class="hero-subtitle">By Gonella Marco</span>
  </div>
  <div class="my-4">
    <h2 class="mb-4">Programma del corso:</h2>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h4>Breve introduzione a ES6</h4>
        <ul>
          <li>Principali funzionalità ES6</li>
        </ul>
        <h4>Breve introduzione a typescript</h4>
        <ul>
          <li>Tipizzazione variabili</li>
          <li>Classi</li>
          <li>Interfacce</li>
        </ul>
        <h4>L'utilizzo di NPM</h4>
        <ul>
          <li>Spiegazione package.json</li>
          <li>Installazione librerie esterne</li>
          <li>Comandi di base per eseguire un progetto</li>
        </ul>
        <h4>L'utilizzo di ANGULAR CLI</h4>
        <ul>
            <li>Spiegazione angular.json</li>
            <li>Set-up angular.json</li>
            <li>Comandi per generare e creare parti di un progetto</li>
          </ul>
      </div>
      <div class="col-sm-12 col-md-6">
        <h4>Angular</h4>

        <ul>
          <li>Inizializzazione progetto</li>
          <li>Strutura del progetto</li>
          <li>Moduli e Componenti (Ciclo di vita)</li>
          <li>Servizi</li>
          <li>Comunicazione tra componenti</li>
          <li>Direttive e Pipes</li>
          <li>Direttive strutturali e di attributo</li>
          <li>RXjs e gli Osservabili</li>
          <li>Osservabili vs Promises</li>
          <li>Utilizzo Servizio HTTP</li>
          <li>Routing con resolvers e Guards</li>
          <li>Forms (Template Driven, Reactive Form)</li>
          <li>Build</li>
          <li>Internazionalizzazione (I18n)</li>
          <li>Strategie per migliorare le performance</li>
        </ul>

      </div>
    </div>
  </div>
</div>